# Jupyter
Welcome to the first Python tutorial. Let's get started with some introduction to the data science environment in Python.

## Environment

The Jupyter environment includes a combination of the following:
* A **kernel**, which is a specifier of the interpreter and package environment of a programming language
* A graphical user interface (**GUI**) run by a server-hosted web application (in this case, it's Jupyter Lab)

<!-- <img src="https://i.stack.imgur.com/TW9F4.png" width=1200> -->
<img src="https://cybergisxhub.cigi.illinois.edu/wp-content/uploads/2022/01/lab-home-page-annotated-scaled-2-1-2048x919.jpg" width=1000>

A Jupyter notebook contains code snippets and rich text.
* We will primarily use Python for coding, but other languages like Julia and R (and even more) can be run in `.ipynb` notebooks.
* Rich text is written using the [`Markdown` markup language](https://www.markdownguide.org/getting-started/).

In [2]:
%%html
<iframe width="560" height="315" src="https://www.youtube.com/embed/34_dRW42kYI?si=sseF-fTz_nn1zovv" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

## Shell commands

Jupyter is great in that it allows command line operations in cells for which you would otherwise need to use something like Terminal. Your default shell depends on your operating system (generally it is `bash` in Linux, `zsh` in macOS, and `PowerShell` in Windows). While knowledge of shell language(s) can greatly improve your productivity in data science, it is not a requirement. [**This**](https://www.freecodecamp.org/news/bash-scripting-tutorial-linux-shell-script-and-command-line-for-beginners/) is a good starting point if you're interested in Bash.

The "**!**" symbol starts an inline shell command.

In [3]:
!pwd # tells you which folder this notebook is in
!cd . # changes directory to the current directory

/Users/rv/Box Sync/DATA SCIENCE FOR SMART CITIES _ FALL  2020/PYTHON SESSIONS

In [4]:
%%bash
pwd # alternate method for executing multiline

/Users/rv/Box Sync/DATA SCIENCE FOR SMART CITIES _ FALL  2020/PYTHON SESSIONS

---
# Python

Let's test our `conda` environment first.

In [1]:
print("hello world")

hello world

## Variables
[**Object oriented programming (OOP)**](https://www.udacity.com/blog/2022/05/object-oriented-programming-a-breakdown-for-beginners.html): Every variable in Python is an **object** with a "name", a "type", and a "value".

**Note**: Though Python supports other [programming paradigms](https://www.freecodecamp.org/news/an-introduction-to-programming-paradigms/#:~:text=What%20is%20a%20Programming%20Paradigm%3F,programming%20problems%20should%20be%20tackled.), it is most commonly used in the OOP paradigm.

<img src="https://i.ytimg.com/vi/Ej_02ICOIgs/maxresdefault.jpg" width=600>

### Assignment

In [5]:
age = 84 # <- "=" is the assignment operator ":="
type(age)

int

In [6]:
name = 'Peter Parker'
type(name)

str

In [7]:
x, y = 20, 40.2 # <- multiple assingments
type(x), type(y)

(int, float)

In [8]:
def compute_square(n):
    return n ** 2

my_func = compute_square
type(my_func)

function

### Naming convention
Python does not mandate a naming convention, but it is strongly advised to follow the [PEP 8 style guide](https://peps.python.org/pep-0008/) to make it more consistently readable by others.

In [9]:
snake_case = "Preferred"

camelCase = "Not preferred ü´§"
PascalCase = "Very rarely seen in Python"
UPPERCASE = "Generally reserved for global constants"

_internal_var = "Do not use this (unless you really understand)"
internal_var_ = "Same as above"
__dunder__ = "Internal variables (do not name these)"
dict = "This is a default function/type, so do not use this or else there might be bad consequences!"
else = "This is a keyword, so naming a variable this is forbidden ‚ö†Ô∏è"

SyntaxError: invalid syntax (2139195060.py, line 11)

## Types
Programming languages generally use some sort of **type system**. Data are stored in different types which are then internally converted to binary numbers.

Python is a **dynamically typed** language, meaning that the type of the variable is inferred at runtime, not during compilation (unlike statically typed languages like C, C#, Java, etc.). This means it is generally easy to write code without worrying much about explicit type assignment and conversion.

<img src="https://media.geeksforgeeks.org/wp-content/uploads/20191023173512/Python-data-structure.jpg" width=700>

### Basic types

#### Numeric

In [10]:
my_age = 84 # <- integer
type(my_age)

int

In [11]:
my_weight = 100.34 # <- float
type(my_weight)

float

In [12]:
my_complex_situation = 3 + 4j # <- real=3, imaginary=4
type(my_complex_situation)

complex

In [13]:
# long integer
phone_num = 555_786_1234 # <- separator "_"

In [14]:
# scientific notation
mass_electron = 9.11E-31 # kg

#### Boolean

In [15]:
is_human_an_animal = True
type(is_human_an_animal)

bool

In [16]:
is_human_vegetable = False

### Iterables: Basic
These include all types that can be "iterated" over, i.e., contain more than one item.

#### List
* A collection of items, similar to (but not exactly the same as) arrays in other languages.
* The items are **ordered** in a list. They can be of any type.
* It is a **mutable** object, meaning its value may be changed in unexpected ways. **Read this important [concept of mutability](https://realpython.com/python-mutable-vs-immutable-types/#:~:text=An%20object%20that%20allows%20you,value%20is%20an%20immutable%20object.)**.

In [17]:
number_list = [1, 2, 3, 5]
mixed_list = [1, 'd', True, [2, 3.4]]

In [18]:
mixed_list[2] # <- zero-based indexing

True

In [19]:
number_list[0] = 25.4881516151 # <- indexed assignment
number_list

[25.4881516151, 2, 3, 5]

In [20]:
len(number_list) # <- default function for computing size of some iterables

4

#### Tuple
Same as list but **immutable**.

In [21]:
my_tuple = ('apple üçé', 'mango ü•≠', 3.14159)

In [22]:
my_tuple[0] # <- indexing works same as list

'apple üçé'

In [23]:
my_tuple[1] = 'strawberry üçì' # <- assignment is not allowed in a tuple

TypeError: 'tuple' object does not support item assignment

In [52]:
len(my_tuple)

3

#### Set
* Stores only **unique values**.
* Is is an **unordered** and **mutable** object.
* All its elements must be immutable.

In [53]:
my_set = {1, 2, 3, 4, 4, 3, -2}
my_set

{-2, 1, 2, 3, 4}

In [54]:
fruits = {'orange', 'orange', 'banana'}; fruits

{'banana', 'orange'}

In [55]:
fruits[2] # <- because they're unordered, indexing does not work on sets

TypeError: 'set' object is not subscriptable

In [63]:
list(fruits)[1] # <- however, converting a set to a list allows indexing

'orange'

In [56]:
len(fruits)

2

#### Dictionary
* This data structure allows storing "key-value" pairs.
* It is known by other names like `object` in JavaScript and `map` in Java.
* It is an **unordered** and **mutable** object. But its _keys must be immutable_.

In [57]:
prices = {"lamp": 20, "laptop": 800.24, "private jet": "out of reach!"}

In [58]:
prices['laptop'] # indexing by key

800.24

In [59]:
prices['candy'] = 1.2 # <- assignment

In [60]:
del prices['private jet'] # <- removing an element

In [61]:
prices

{'lamp': 20, 'laptop': 800.24, 'candy': 1.2}

In [62]:
len(prices)

3

#### String
* A string is simply a sequence (or "string") of characters.
* Python does not have a `character` or `char` type unlike C++, Java, Julia, etc.
* Strings are **immutable** iterable objects.

In [30]:
single_quoted = 'Hello, I am a single-quoted string'
double_quoted = "Hi there, I'm a double-quoted string"

In [31]:
multiline_string = """
Python is a high-level, general-purpose programming language.
Its design philosophy emphasizes code readability with the 
use of significant indentation.
"""

In [32]:
raw_string = r'The "r" in front helps do some character escaping (more on that later)'

In [33]:
binary_string = b'This "b" treats this string as a set of binary characters like \x00\x0F'

In [34]:
f_string = f'This allows executing statements within the string, such as "{single_quoted}"'
f_string

'This allows executing statements within the string, such as "Hello, I am a single-quoted string"'

In [35]:
len(f_string) # <- gives the number of characters in the string

96

In [36]:
single_quoted[23:40] # <- sliced indexing

'oted string'

In [37]:
single_quoted[43] = 'r' # <- assignment does not work

TypeError: 'str' object does not support item assignment

### Custom types: Classes
In Python (like many other OOP languages), we can (and often) create custom types using the concept of "classes". We will understand this in greater detail in a subsequent tutorial.

### Type conversion
Type conversion is often required in many operations. Python is a **strongly typed** language, meaning that the variable types do not (always) convert implicitly to suit the required operation. This means that sometimes type conversion happens automatically/silently/implicitly, but at other times, we need to explicitly convert the types.

[See this good source for details](https://www.futurelearn.com/info/courses/python-in-hpc/0/steps/65121#:~:text=Python%20is%20both%20a%20strongly,performing%20operations%20on%20a%20variable.).

#### Convering basic types

In [ ]:
# two different data types can be converted to same value
2 == 2.0

False

In [39]:
x = 2 + 9.43 # <- integer + float = float
x, type(x)

(11.43, float)

In [40]:
1 == True # >> True
0 == False # >> True
'abc' == True # >> False
['a', 'b'] == True # >> False
[] == False # >> False
() == False # >> False
{} == False # >> False

False

#### String formatting

Python does a great job providing options for mixing different types in strings using [string formatting](https://www.geeksforgeeks.org/string-formatting-in-python). But be careful! Some methods do not work in older versions of Python.

In [4]:
num_boxes = 9
"Mom, I ate " + str(num_boxes) + " boxes of cookies today!" # avoid in most cases
"%d boxes" % num_boxes # old method
"{} boxes".format(num_boxes) # good method
f"{num_boxes * 2} boxes" # recommended method

'18 boxes'

#### Converting iterables

In [42]:
tuple1 = (1, 2, 5.4)
list1 = list(tuple1)
set1 = set(tuple1)
set2 = set(list1)
list2 = list(set1)

## Operators

### Arithmetic

In [43]:
print(10 + 3)
print(10 - 3)
print(10 * 3)
print(10 / 3) # division implicitly converts denominator to float
print(10 // 3) # division quotient
print(10 % 3) # division remainder
print(10 ** 3) # exponentiation

13
7
30
3.3333333333333335
3
1
1000

Python also does [bit-wise operations](https://realpython.com/python-bitwise-operators/), though we won't use them much.

In [44]:
print(10 ^ 3) # bitwise XOR

9

Augmented assignment operator: $$x \;\otimes=\; y \iff x = x \;\otimes\; y$$

In [45]:
x = 10
x += 3; print(x) # equivalent to x = x + 3
x -= 8; print(x)
x *= 2; print(x)
x /= 3.2; print(x)
x **= 2; print(x)

13
5
10
3.125
9.765625

### Logical

In [46]:
print('AND operations')
print(True & True)
print(False & False)
print(True & False)
print((2 < 5) & (20.0 == 20))
print(0 & 1)
print('OR operations')
print(True | True)
print(False | False)
print(True | False)
print('NOT operations')
print(not True)
print(not False)

AND operations
True
False
False
True
0
OR operations
True
False
True
NOT operations
False
True

### Comparison

In [47]:
print(18.0 == 18) # equal to
print(18 != "wow") # not equal to
print(2 < 5)
print(5 <= 5)

True
True
True
True

In [48]:
"a random string" < "another random string"

True

## Conditionals: IF statement
Conditionals are a major building block of any logical program. They help the interpreter jump across code blocks depending on the tested condition. The `if` block may be accompanied by an `elif` (else if) or `else` block.

In [49]:
is_hot = True
is_cold = False

if is_hot:
    print("It's a hot day. Drink plenty of water.")
elif is_cold:
    print("It's a cold day. Wear warm clothes.")
else:
    print("It's a lovely day!")
print("Enjoy your day")

It's a hot day. Drink plenty of water.
Enjoy your day

In [50]:
price = 1000
has_good_credit = True

if has_good_credit and price:
    # here, price is inherently converted from integer to boolean
    # (will yield True since price is non-zero)
    down_payment = 0.1 * price
else:
    down_payment = 0.2 * price
print(f'Down payment = ${down_payment:.2f}')

Down payment = $100.00

In [51]:
# one line if-else statement
age = 29
category = "adult" if age >= 18 else "minor"
category

'adult'